version: "1.0.{build}"

os: Visual Studio 2022

cache:
  - C:\Users\appveyor\AppData\Local\vcpkg\archives

init:
  - cmd: cmake --version
  - cmd: msbuild /version

install:
  - cd C:\Tools\vcpkg
  - git fetch origin && git reset --hard 2025.12.12
  - .\bootstrap-vcpkg.bat
  - cd %APPVEYOR_BUILD_FOLDER%

before_build:
  - cmd: cmake --preset=vs2022 --toolchain C:/Tools/vcpkg/scripts/buildsystems/vcpkg.cmake

build_script:
  - cmd: cmake --build build/vs2022 --config Release --parallel -- /verbosity:minimal /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

test_script:
  - cmd: build\\vs2022\\tests\\Release\\kl-tests -r junit -o results.xml

after_test:
  - ps: |
      $url = "https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)"
      $file = 'results.xml'
      (New-Object 'System.Net.WebClient').UploadFile($url, (Resolve-Path $file))
